<!--<#%= form_for(@user) do |f| %>-->


<!--  <div class="field">-->
<!--    <#%= f.label :name %>-->
<!--    <#%= f.text_field :user.name %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <#%= f.label :address %>-->
<!--    <#%= f.text_field :user.address %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <#%= f.label :phone %>-->
<!--    <#%= f.text_field :user.phone %>-->
<!--  </div>-->

<!--  <div class="actions">-->
<!--    <#%= f.submit %>-->
<!--  </div>-->
<!--<#% end %>-->
