<% provide(:title, "Help") %>

<h1>Help Page</h1>
<h2>FAQ 1</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt eget nullam non nisi. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Arcu ac tortor dignissim convallis aenean et tortor. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Purus in mollis nunc sed. Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Ut lectus arcu bibendum at varius vel. Venenatis a condimentum vitae sapien pellentesque habitant. Malesuada proin libero nunc consequat interdum varius sit. Pretium quam vulputate dignissim suspendisse in. Feugiat in fermentum posuere urna nec tincidunt praesent semper.</p>
<h2>FAQ 2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt eget nullam non nisi. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Arcu ac tortor dignissim convallis aenean et tortor. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Purus in mollis nunc sed. Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Ut lectus arcu bibendum at varius vel. Venenatis a condimentum vitae sapien pellentesque habitant. Malesuada proin libero nunc consequat interdum varius sit. Pretium quam vulputate dignissim suspendisse in. Feugiat in fermentum posuere urna nec tincidunt praesent semper.</p>
<h2>FAQ 3</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt eget nullam non nisi. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Arcu ac tortor dignissim convallis aenean et tortor. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Purus in mollis nunc sed. Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Ut lectus arcu bibendum at varius vel. Venenatis a condimentum vitae sapien pellentesque habitant. Malesuada proin libero nunc consequat interdum varius sit. Pretium quam vulputate dignissim suspendisse in. Feugiat in fermentum posuere urna nec tincidunt praesent semper.</p>
<h3>Check out our yummy categories</h3>

<br>
<%= render 'layouts/categories' %>
