<% provide(:title, "Home") %>

<div class="mainCont">
<%= image_tag("food_banner.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>    


    
<h1>Home</h1>
<p>Welcome to your first home page!</p>
<br>
<%= render 'layouts/categories' %>
<br>
<%= render 'layouts/popular' %>

<br>
<%= render 'layouts/newproducts' %>
</div>
