<h1>About Us</h1>
<h2>We are shrewd about your food!</h2>
 <%= image_tag "food_banner.jpg", :class => "mealsholsIm" %>

<h3>How It Works</h3>
<p>
    Bibendum at varius vel pharetra vel turpis nunc eget. Vel facilisis volutpat est velit. Purus in massa tempor nec feugiat. 
    Pellentesque habitant morbi tristique senectus et netus et. Enim sed faucibus turpis in eu mi bibendum neque. Eget lorem dolor sed viverra 
    ipsum nunc. Orci ac auctor augue mauris augue neque gravida in. Vitae turpis massa sed elementum tempus egestas sed sed. Senectus et netus et malesuada 
    fames ac turpis egestas. Justo donec enim diam vulputate ut pharetra sit amet aliquam.
</p>

<h3>Why Choose Shrewd Fewd'</h3>
<p>
    Bibendum at varius vel pharetra vel turpis nunc eget. Vel facilisis volutpat est velit. Purus in massa tempor nec feugiat. 
    Pellentesque habitant morbi tristique senectus et netus et. Enim sed faucibus turpis in eu mi bibendum neque. Eget lorem dolor sed viverra 
    ipsum nunc. Orci ac auctor augue mauris augue neque gravida in.
</p>
<p>
    Vitae turpis massa sed elementum tempus egestas sed sed. Senectus et netus et malesuada 
    fames ac turpis egestas. Justo donec enim diam vulputate ut pharetra sit amet aliquam.
</p>
