<h1>Categories</h1>
<br>

    <% @categories.each do |category| %>
        <div class = "mealhols">
            <p><%= category.title %></p>
            <%= link_to (image_tag category.image, :class=>"mealsholsIm"), category %>
            <p><%= category.description%></p>
        </div>
    <% end %>