<footer class="foot">
<p>
    <a href="https://twitter.com/Naomis_Kitchen?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Naomis_Kitchen</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
<p>
  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
</p>
<br>
<p>Phone: 555-123456</p>
<p>Email: <%= mail_to "info@shrewdfewd.ie" , 'info@shrewdfewd.ie' %></p>

</footer>