<h2>New Meals</h2>

    <% @meals.limit(3).order(:created_at).each do |meal| %>
        <div class = "mealhols">
            <%= link_to (image_tag meal.image_url, :class=>"mealsholsIm"), meal %>
            
            <h2>
                <%= link_to meal.mealName, meal %>
            </h2>
            
            <div class="price">
                <%= number_to_currency(meal.price, :unit => "€") %>
            </div>
            <div class="links">
                <a class="button" href="/cart/<%= meal.id %>">Add to Cart</a>

            </div>
        </div>
    <% end %>
